:root {

    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background gradient: */

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Text */

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Divider */
    --light-grayish-blue: hsl(240, 5%, 91%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    max-width: 100%;
    height: auto;
    width: max-content;
}

.card-container {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    height: 100vh;
    padding: 2em;
    color: var(--dark-grayish-blue);
}

.img-wrapper {
    margin-top: -100px;
    margin-bottom: 30px;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.image {
    display: block;
    margin: 0 auto;
    position: relative;
    left: -10px;
    bottom: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 0.5em 1em 0.5em var(--soft-blue);
    margin-top: 100px;
}

.card h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--desaturated-blue);
    margin-bottom: 1em;
}

.faq-container {
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 1em 0em;
}

.question {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.question::after {
    content: url(images/icon-arrow-down.svg);
}

.question:hover {
    cursor: pointer;
    color: var(--soft-red);
    font-weight: 400;
}

.panel {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 1em;
    display: none;
}

.closed {
    font-weight: 400;
}

.open {
    font-weight: 700;
    color: var(--desaturated-blue);
}

.question.open::after {
    content: url(images/icon-arrow-down.svg);
    transform: rotate(180deg);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 3em;
    color: var(--desaturated-blue);
    width: 100%;
}

.attribution a {
    color: var(--desaturated-blue);
}

@media screen and (min-width:1440px) {

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 0;
        width: 992px;
    }

    .image-set {
        display: flex;
        justify-content: stretch;
    }

    .image-set::before {
        content: url(images/illustration-box-desktop.svg);
        margin-top:83px;
        margin-left: -95px;
        z-index: 1999;
        align-self: center;
        position: absolute;
        width:90px;
    }

    .img-wrapper {
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 140%;
        background-position: left -180px bottom -60px;
        padding:0;
        margin:0;
        overflow: hidden;
    }

    .image {
        margin:60px 0px 60px -60px;
        display: block;
        top:0;
        left:0;
        width:468px;
        height:auto;
        padding:0;
    }

    .faq-content {
        flex-basis: 53%;
        padding: 73px 80px 100px 85px;
    }

    .faq-content h1 {
        text-align: left;
    }


}